@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --fontFamily: "Roboto", sans-serif;
	--fontSize: 16px;
	--blue: #03A9F4;
	--white: #ffffff;
	--gray: #5A6B90;
    --darkenGray: #3D4853;
	--lightenBlue: #F7FCFF;
	--darkenBlue: #01579B;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	color: var(--gray);
	line-height: 1;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

.container {
	margin: 0 auto;
	max-width: 1140px;
}

.container::after {
	display: block;
	clear: both;
	content: "";
}

a {
	color: var(--gray);
	text-decoration: none;
}

a:hover {
	color: var(--blue);
}

ul {
	list-style: none;
}

/*Header*/

header {
	background-color: var(--lightenBlue);
	background-attachment: fixed;
	height: 100px;
}

nav {
	padding: 40px 0;
}

nav .logo {
	float: left;
}

nav ul li {
	float: right;
	margin: 0 20px;
}

.menu-left {
	float: left;
	padding: 10px;
}

.menu-right {
	float: right;
	padding: 10px;
}

.menu-right button {
	padding: 10px;
	margin: -10px 15px;
	border: 0.5px solid var(--blue);
	border-radius: 2px;
	text-transform: uppercase;
	color: var(--blue);
	background-color: var(--lightenBlue);
	font-size: 14px;
	width: 100%;
}

.menu-right button:hover {
	background-color: var(--blue);
	color: white;
}

/* Container*/

/* Banner*/

.banner {
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-position: center;
	padding: 50px 0;
}

.banner .container {
	max-width: 980px;
	margin: 0 auto;
}

.banner .container h1 {
	font-size: 6rem;
	text-transform: uppercase;
}

.banner .container h4 {
	font-size: 1.5rem;
}

.banner strong {
	text-transform: uppercase;
}

.report_text {
	float: left;
	padding: 50px 0;
	color: var(--darkenGray);
	position: absolute;
	background-color: var(--white);
	padding: 20px;
	opacity: 0.8;
	-webkit-box-shadow: 5px 5px 14px -4px #3D4853; 
	box-shadow: 5px 5px 14px -4px #3D4853;
}

.form {
	float: right;
}

.report_text p {
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 13px;
}

form {
	background-color: var(--white);
	opacity: 0.9;
	padding: 20px;
	-webkit-box-shadow: 5px 5px 14px -4px #3D4853; 
	box-shadow: 5px 5px 14px -4px #3D4853;
}

.form h2 {
	color: var(--blue);
	text-align: center;
	padding: 20px 0 5px 0;
}

form h5{
	padding: 0 0 20px 0;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 10px;
	resize: vertical;
}

input[type=submit] {
	background-color: var(--lightenBlue);
	color: var(--gray);
	padding: 12px 20px;
	border: 0.5px solid #03A9F4;
	border-radius: 2px;
	cursor: pointer;
	width: 100%;
}
  
input[type=submit]:hover {
	background-color: var(--blue);
	color: var(--white);
}

#item-container {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--lightenBlue);
	text-align: center;
	padding: 50px 0;
}

.wrap img {
	border-radius: 50%;
	border: 0.5px solid var(--blue);
	align-items: center;
}

.wrap .p strong {
	text-decoration: #3D4853;
}

.image {
	align-items: center;
	padding: 50px 0;
	text-align: center;
}

.image .container h2{
	font-size: 2rem;
	padding: 20px 0;
}

.image .container p{
	line-height: 20px;
}

.action-section {
	background-color: var(--lightenBlue);
	text-align: center;
	padding: 50px 0;
}

.action-section h2 {
	padding: 10px 0;
}

.action-section p {
	padding: 10px 0;
}

button {
	background-color: var(--blue);
	color: var(--white);
	font-weight: 200;
	padding: 12px 20px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	width: 20%;
}

button:hover {
	color: var(--white); 
	background-color:var(--darkenBlue);
	font-weight: 300;
}

.NumberOfUsers {
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
}

/* Footer*/

footer {
	background-color: var(--lightenBlue);
}

.container .footer-logo button {
	padding: 7px;
	border: 0.5px solid var(--blue);
	border-radius: 2px;
	text-transform: uppercase;
	color: var(--blue);
	background-color: var(--lightenBlue);
	font-size: 14px;
	width: 100%;
}

.container .footer-logo button:hover {
	background-color: var(--blue);
	color: white;
}

.container .footer-logo .logSug {
	padding: 10px 0;
}

.footer-siteLinks {
	display: flex;
	justify-content: space-evenly;
	padding: 30px;
}

.footer-menu ul {
	line-height: 30px;
}

#logo-facebook {
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/facebook-logo.svg);
}

#logo-twitter {
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/twitter-logo.svg);
}

#logo-instagram {
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/instagram-logo.svg);
}

#logo-youtube {
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/youtube-logo.svg);
}

#logo-linkedin {
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/linkedin-logo.svg);
}
	